* {
    margin: 0;
    padding: 0;
    border: 0;
}
/*Navbar*/
#logo {
    width: 60px;
    height: 100%;
    padding-left: 25px;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(222, 184, 135, 0.7);
}

ul {
    list-style-type: none ;
    overflow: hidden;
}

li {
    float: left;
}

a {
    text-decoration: none;
    padding: 16px;
    display: block;
}

a:hover {
    background-color: chartreuse;
}

/*Header*/

.header_bg {
    background-image: url(headerbg.jpeg);
    width: 100%;
    height: 350px
}

.header_h1 {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}